<html>
    <head>
        {% include 'common/header.html' %}
        <style>
            #query-form {
                width: 400px;
                margin-left: 25%;
            }
        </style>
    </head>
    <body>
        {% include 'common/navigation.html' %}
        <div id="query-form">
            <div class="form-group">
                <label for="sobjects">Choose Object</label>
                <select id="sobjects"  class="query_comp form-control">
                    {% for sobj in sobjects %}
                        <option value="{{sobj}}">{{sobj}}</option>
                    {% endfor %}
                </select>
            </div>

            <div id="form-group">
                <label for="fields">Add fields</label>

                <select id="fields" multiple class="query_comp form-control">
                </select>
            </div>

            <div id="form-group">
                <label for="query">Query</label>
                <textarea id="query" class="form-control" form="query_form" name="query"></textarea>
            </div>

            <button type="button" id="query-btn" class="btn btn-default">Query</button>
        </div>
        
        <table class="table" id="q_res">
            <thead>
            </thead>

            <tbody>
            </tbody>
        </table>
        
        <script id="FieldsOptionTemplate" type="text/x-jquery-tmpl">
            <option value="${name}">${name}</option>
        </script>

        <script id="QueryFieldsTemplate" type="text/x-jquery-tmpl">
            <th>${value}</th>
        </script>
        

        <script>
            $("#sobjects").click(function(){
                $.ajax({
                        type:"GET",
                        beforeSend: function (xhr, settings)
                        {
                            xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token}}');
                        },
                        url: "/data/fields",
                        data: {"sobject": $("#sobjects option:selected").text()},
                        success: function(response) {
                            $.each($.parseJSON(response), function(){
                                $("#FieldsOptionTemplate" ).tmpl(this).appendTo("#fields");
                            });
                        }
                })
            });

            $(".query_comp").change(function(){
                sobject = $("#sobjects option:selected").text();
                fields = ''
                $.each($("#fields option:selected"), function(){
                    fields+=this.text + ',';
                });

                console.log(fields);

                query = 'SELECT ' + fields.substring(0, fields.length - 1) + ' FROM ' + sobject;
                console.log(query);
                $("#query").val(query);
            });

            $("#query-btn").on('click', function(){
                var fields = []
                $.each($("#fields option:selected"), function(){
                    console.log(this);
                    fields.push(this.text);
                    $("#QueryFieldsTemplate").tmpl(this).appendTo("#q_res thead");
                });
                $.ajax({
                    type:"GET",
                    beforeSend: function (xhr, settings)
                    {
                        xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token}}');
                    },
                    url: "/data/soql",
                    data: {"query": $("#query").val()},
                    success: function(response) {
                        console.log(response);
                        $.each($.parseJSON(response), function(i,r){
                            var row = '<tr>';
                            console.log(row);
                            console.log(r);
                            $.each(fields, function(i,f){
                                row+='<td>' + r[f] + '</td>';
                                console.log(f);
                            });
                            row+='</tr>';
                            console.log(row);
                            $("#q_res tbody").append(row);
                        });
                    }
                })
            });

        </script>
    </body>
</html>